/* 
Reset
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
Debug
*/

.debug header {
  background-color: lightcoral;
}

.debug main {
  padding: 50px;
  background-color: lightsalmon;
}

.debug main *:not(:last-child) {
  margin-bottom: 50px;
}

.debug footer {
  padding: 50px;
  background-color: lightseagreen;
}

/* 
Typo
*/

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.7;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.small {
  font-size: 14px;
}

/* 
Container
*/

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-full {
  width: 100vw;
}

.container-big {
  width: 70vw;
}

.container-small {
  width: 60vw;
}

/* 
Common
*/

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo,
li {
  margin: 20px;
}

/* 
Buttons
*/

.button {
  padding: 15px;
  font-family: inherit;
}

.button-primary {
  background-color: #0061ff;
  color: white;
}

.button-secondary {
  background-color: #ffffff;
}

/* 
Header
*/

.logo {
  display: block;
}