/* 
Reset
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
CSS Icons
*/

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* 
Typo
*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.center {
  text-align: center;
}

#jumbotron {
  font-size: 15px;
}

#plans {
  font-size: 14px;
}

/* 
Background
*/

#jumbotron {
  background-color: #b4d0e7;
}

/* 
Container
*/

.flex {
  display: flex;
  justify-content: space-between;
}

.page-full {
  width: 100%;
}

.page-big {
  width: 60vw;
}

.page-small {
  width: 50vw;
}

.page-big,
.page-small {
  margin: auto;
}

.box-small {
  width: 35%;
}

.box-large {
  width: 65%;
}

.column {
  width: calc(100% / 3 - 30px);
}

/* 
Spaces
*/

nav button,
nav li,
.logo {
  margin: 20px;
}

#plans .inputs {
  margin: 50px 0;
}

#plans .inputs > * {
  padding-right: 35px;
}

#plans ul {
  margin-left: 15px;
}

#plans ul,
#plans button:not(:last-child),
#plans .features {
  margin-top: 40px;
}

#plans .price,
#plans ul > * {
  margin-top: 15px;
}

#plans .price .gray {
  margin-top: 10px;
}

#plans .buy {
  margin: 30px 0;
}

#plans .horizontal,
#plans .horizontal .plan p {
  margin-top: 50px;
}

main section {
  padding-top: 130px;
}

.plan {
  padding: 25px;
}

.small {
  padding: 5px 15px;
}

.large {
  padding: 10px 15px;
}

/* 
Common
*/

ul a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

hr {
  width: 20%;
  border: none;
  border-top: 1px solid #d2d2d5;
}

/* 
Buttons
*/

.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.button-primary {
  border: none;
  background-color: #0061ff;
  color: white;
}

.button-secondary {
  background-color: #ffffff;
  border: 1px solid black;
}

/* 
Header
*/

nav {
  align-items: center;
}

.logo {
  display: block;
}

/* 
Main
*/

main img {
  width: 100%;
}

/* 
Jumbotron
*/

.jumbotron-content {
  position: relative;
  top: 60px;
}

#jumbotron .small-box > * {
  margin-bottom: 30px;
}

#jumbotron i {
  margin-top: 20px;
  font-size: 45px;
}

/* 
Piani business
*/

#plans .column,
#plans .horizontal {
  border: 1px solid #d2d2d5;
}

#plans .horizontal .box-small {
  text-align: right;
}

#plans .target {
  border-bottom: 1px solid #d2d2d5;
}

#plans .price .gray {
  color: #666666;
}

#plans .button {
  width: 100%;
}

#plans .button:last-child {
  width: 80%;
}

/* 
Piani business - Liste
*/

.fa-li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fa-li.user::before {
  content: "\f007";
}

.fa-li.folder::before {
  content: "\f07b";
}

.fa-li.share-nodes::before {
  content: "\f1e0";
}

.fa-li.checklist::before {
  content: "\f00c";
  color: #0061ff;
}

.fa-li.users::before {
  content: "\f0c0";
}

/* 
Contattaci
*/

#contact-us .box-small {
  padding: 50px 0 0 50px;
}

/* 
Business
*/

#business .flex {
  flex-wrap: wrap;
}

/* 
Partner
*/

#partner > * {
  width: calc(100% / 3);
}

#partner .partner-left,
#partner .partner-right {
  flex-wrap: wrap;
}

#partner .partner-box {
  aspect-ratio: 1;
  width: 50%;
}

#partner .partner-logo {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  filter: brightness(0) invert(1);
}

/* 
Loghi partner
*/

#partner .designit {
  background-color: #a2d39b;
}

#partner #designit {
  background-image: url(../img/designit.svg);
}

#partner .arizona-uni {
  background-color: #61082b;
}

#partner #arizona-uni {
  background-image: url(../img/arizona_state_university.svg);
}

#partner .uni-florida {
  background-color: #0093ce;
}

#partner #uni-florida {
  background-image: url(../img/university_of_florida.svg);
}

#partner .topps {
  background-color: #ff1c1c;
}

#partner #topps {
  background-image: url(../img/topps.svg);
}